@model IEnumerable<Assignment3_WEB524.Models.ArtistBaseViewModel>

@{
    ViewBag.Title = "Artist list";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img style="width:100px" src="@Html.DisplayFor(modelItem => item.UrlArtist)" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthOrStartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Genre)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id })
    </td>
</tr>
}

</table>
