@model Assignment3_WEB524.Models.AlbumWithDetailViewModel

@{
    ViewBag.Title = "Album Details - " + Model.Name;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.UrlAlbum)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.UrlAlbum)" height="100" width="100" />
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Summary)
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add track to this album", "AddTrack", new { id = Model.Id })
</p>
